.con {
    width: 100%;
    float: none;
    margin: auto 60px;
    margin-left: 150px;
    background-color: rgb(74, 220, 220);
}

.main {
    width: 100%;
    text-decoration: none;
}

.navbar {
    background-color: rgb(179, 183, 183);
    padding-left: 20px;
    margin-right: 165px;
    float: center;
    margin-left: 165px;


}

.logo a {
    font-size: 60px;
    float: left;
    margin-left: 170px;
    margin-top: 15px;
    overflow: hidden;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.logo p {
    margin-left: 20px;
    width: 60%;
}

li {
    display: inline-block;
    margin: 50px 20px 0px 0px;
    padding-right: 5px;
    font-size: 24px;
}

li a {
    text-decoration: none;
    background-color: black;
    padding: 5px 15px 5px;
    color: white;
    border: 1px solid;
    border-radius: 7px;
    margin-top: 10px;
}

button {
    margin-right: 40px;
    text-decoration: none;
    padding: 8px 15px 8px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    margin-top: opx;
}

button a {
    margin-left: 10px;
    padding: opx auto;
}

.navbar-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.st {
    float: right;
    margin-top: 45px;
    padding-left: 10px;
    display: inline-block;
    padding-right: 10px;
    margin-right: opx auto;

}

.nd {
    float: right;
    display: inline;
    /* margin-top: 45px; */
    margin-left: 0px auto;
}


.menu-1 {
    width: 320px;
    margin: 20px;
    padding: 20px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;

}

.menu-1 h2 a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.menu-2 h2 a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.menu-3 h2 a {
    text-decoration: none;
    font-size: 40px;
    color: black;
}

.menu-2 {
    width: 320px;
    margin: 20px;
    padding: 20px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;
}

.menu-3 {
    width: 320px;
    margin: 20px;
    padding: 20px;
    float: left;
    overflow: hidden;
    margin-left: 20px;
    background-color: aqua;
    border: 3px solid black;
    border-radius: 10px;
}

img {
    width: 315px;
    height: 200px;
    border-radius: 10px;
}

h3 {
    background-color: rgb(11, 197, 70);
    color: white;
    padding: 8px;
    border-radius: 5px;
    margin-right: 200px;
    font-size: 20px;
}

.text-section {
    width: 40%;
    margin: 50px 50px 50px 200px;
}

.see-more {
    float: left;

}


h1 {
    font-size: 50px;
    color: black;
    font-family: cursive;
    font-weight: 600;
    text-decoration: none;
}

h1 a {
    text-decoration: color(srgb red green blue);
    color: rgb(74, 220, 220);
    animation: backwards;
}

h1 a:hover {
    background-color: black;
    color: aqua;
    content: cover;
}

p {
    font-size: 24px;
    margin-top: 0px auto;
}

button {
    background-color: rgb(19, 187, 187);
    border: 1px solid gray;
}

button a {
    text-decoration: none;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    color: black;
}

.images img {
    float: right;
    margin-right: 300px;
    margin-top: 50px;
    max-width: 500px;
}

.galary {
    margin: 30px 0px 0px 170px;
    float: center;
    display: inline-block;
    align-items: center;
    padding: 20px;
}

.img-g {
    padding: 5px;

}

.img-g img {
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
    margin: 10px;
    box-shadow: inset black;

}

.galary h1 {
    margin-left: 30px;
    align-items: center;
}